@import "src/_stylesVariables"

.filters
  display: flex
  flex-direction: column
  padding: 20px
  position: relative
  width: $filter_component_width

.content
  position: relative
  z-index: 3

.list
  margin-top: 30px

.overlay
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background-color: #c1c1c1
  opacity: .5
  z-index: 1