@import "src/_stylesVariables.sass"

.header
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  height: $search_header_height
  background-color: $main_color
  z-index: 5
  border-radius: $components_border_radius

.search_mode
  display: flex
  align-items: center
  height: 100%
  padding: 0 50px 0 20px
  background: $main_color
  border-bottom-left-radius: $components_border_radius
  border-top-left-radius: $components_border_radius
  background: linear-gradient(90deg, $main_color_lighten 0%, $main_color 96%)

.commands_mode, .players_mode, .submit_yours
  display: flex
  align-items: center
  justify-content: center
  height: 40px
  padding: $button_top-bottom_padding $button_left-right_padding
  background-color: $main_color_darken
  border: none
  cursor: pointer
  text-decoration: none
  border-radius: $button_border_radius
  font-size: $button_text_font_size
  font-weight: $button_text_font_weight
  color: $button_text_color
  transition: background-color $first_transition
  &:hover
    background-color: $main_color_darken_extra

.select
  display: none
  width: 200px
  margin-left: 20px
  &::placeholder
    white-space: nowrap

.active
  background-color: $main_color_darken_extra

.commands_mode
  margin-right: 20px

.submit_yours
  margin-right: 20px

@media (max-width: 992px)
  .commands_mode, .players_mode, .submit_yours
    padding: $button_top-bottom_padding $button_left-right_padding_992

@media (max-width: 768px)
  .select
    display: block

  .search_mode
    display: none

  .commands_mode
    background-color: $main_color_lighten_extra
    margin: 0 2px 5px 2px
    border: none

@media (max-width: 576px)
  .select
    width: 180px
  .submit_yours
    width: 120px
    font-size: $button_text_font_size_992

@media (max-width: 400px)
  .select
    width: auto
    flex-grow: 1
    margin: 0 10px


  .submit_yours
    margin-right: 10px